name: L'intégration continue
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Construction et Validation

    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4

      # Sans `version`, l'action utilise la version spécifiée dans la propriété `packageManager` du `package.json` ;
      # _c.f._ https://github.com/marketplace/actions/setup-pnpm#install-only-pnpm-with-packagemanager .
      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Installer les dépendances
        run: pnpm install
        env:
          PUPPETEER_SKIP_DOWNLOAD: true

      - name: Contrôler le Typescript
        run: pnpm run test:typecheck

      - name: Exécuter les tests
        run: pnpm run test:logic --run --reporter junit --outputFile=./test-report.xml

      - name: Rapport des tests
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }} # On force l'exécution même si l'étape précédente a échoué
        with:
          name: Tests
          path: ./test-report.xml
          reporter: jest-junit
