name: Déploiement
run-name: Déploiement du commit "${{ github.event.head_commit.message }}"
permissions: {}

on:
  push:
    branches: [main]

jobs:
  deploiement-prod:
    name: Déploiement en PROD
    environment: PROD
    runs-on: ubuntu-latest
    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Cloner l'intégralité du dépôt, pour ne pas avoir de « shallow repo » rejeté par Clever

      - name: Utiliser la bonne version de Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Installer la CLI Clever Cloud
        shell: bash
        run: npm install -g clever-tools@4.4.0  # Utilisation de `npm` acceptable avec une version épinglée

      - name: Déployer en PROD
        env:
          CLEVER_SECRET: ${{ secrets.CLEVER_CLOUD_SECRET }}
          CLEVER_TOKEN: ${{ secrets.CLEVER_CLOUD_TOKEN }}
          ID_APP: ${{ secrets.CLEVER_CLOUD_ID_APP }}
        run: |
          NODE_VERSION="$(./scripts/get-node-version.sh)"
          clever link "$ID_APP"
          clever env set CC_NODE_VERSION "$NODE_VERSION"
          clever deploy --force --same-commit-policy=rebuild
